.Output{
    font-size: 70px;
    background-color: #415069;
    border:2px #5fd8f8 solid;
    border-radius: 15px;
    width: 450px;
    height: 200px;
    margin: 20px auto;
    font-weight: bold;
}
.maxValue{
    color: red;
}
.minValue{
    color: #5fd8f8;
}